<!DOCTYPE html>

<html>
<head>
    {{>include}}
</head>

<body>
    <div class="main-content">
        {{>header}}

         <div id="map"></div>
         <div id = "addElementContainer">
            <span> <input type="radio" name="elementToAdd" value="Stub"> Stub</span>
            <span> <input type="radio" name="elementToAdd" value="Vod"> Vod</span>
            <span><input type="radio" name="elementToAdd" value="Trafostanica"> Trafostanica</span>
            <span><input type="radio" name="elementToAdd" value="Potrosac">Potrosac</span>
            
            <button id = "addElementButton" type="button" class="btn btn-primary">Dodaj element</button>
         </div>
    </div>

    {{>footer}}

     <script src="/js/leaflet.js"></script>
     <script src="/js/homePage.js"></script>
</body>

</html>