<!DOCTYPE html>
<html>
<head>
    {{>include}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div id="map" class = "addElement"></div>
        <p>Oznacite mjesto na kojem zelite da dodate stub</p> 
    </div>

    {{>footer}}
     <script src="/js/leaflet.js"></script>
     <script src="/js/addStub.js"></script>
</body>

</html>